
body {
    background-color:rgb(250, 239, 225);
    font-family: Arial, Helvetica, sans-serif;
}
 
*{
   font-family: Playfair Display;
   font-weight: bold;
   }

h1 {
   font-family: Boldonse;
   letter-spacing: 3px;
    
}

 /* Text Styling: */
 h2, h3, h4 {
    color: rgb(245, 234, 130);
 }

h4 {
   line-height: 55px;
   text-decoration: line-through;
}

h5 {
   font-size: 50px;
   text-align: center;
   background-color: rgb(171, 235, 112);
}

 div {
   background-color: rgb(112, 170, 245);
   color: white;
}

.text-1 {
   font-size: 50px;
   text-align: center;
   margin: 10%;
   padding: 5%;
}

.text-2 {
   font-size: 50px;
   text-align: justify;
   margin: 10%;
   padding: 5%;
}

.back-link {
   font-size: 45px;
   text-decoration: none;
   text-align: left;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }