@font-face {
    font-family: 'Boldonse';
    src: url('../fonts/CalSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
        font-family: 'CalSans';
        src: url('../fonts/CalSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
     }